h1 {
    font-size: 24px;
    color: #333;
    font-family: "Barlow", sans-serif;
}

/* styling out the view of users in /view endpoint */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

li:hover {
    background-color: #f47430;
}

/* styling out the name and email data */
li span.username {
    font-weight: bold;
    color: #007bff;
}

li span.email {
    color: #555;
}
